.traffics div div {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: black;
    margin: 10px !important;
}
.traffics div .autoGreen.on {
    background: green;
}
.traffics div .autoYellow.on {
    background: yellow;
}
.traffics div .autoRed.on {
    background: red;
}
.traffics {
    width: 100%;
    display: flex;
    position: relative;
}
.traffics fieldset {
    max-height: 330px !important;
    width: 50%;
}
.traffics fieldset {
    display: block;
    width: 100%;
    position: relative;
}
.traffics fieldset div {margin-top: 10px;}
.traffics fieldset fieldset {
    display: block;
    width: 100%;
}
.traffics fieldset:first-child {
    margin-right: 10px;
}
.traffics fieldset:last-child {
    margin-left: 10px;
}